h1 {
  text-align: center;
}
nav {
  filter: invert(100%);
}
ul {
  list-style: square;
}
ul li {
  font-style: italic;
}

iframe {
  width: 450px;
  height: 275px;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  color: #009933;
  background-color: #ffffd8;
  margin: 4px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: left;
}
