*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 0px 20px;
}


fieldset {
    width: 25%;
}

.input-group{
    display: flex;
    justify-content: space-between;
}

.mini {
    display: flex;
    align-items: center;
}

input[type="number"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.small-input{
    width: 100px;
}

form fieldset .input-group{
    margin-bottom: 10px;
}

form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    padding: 15px;
}

.btns {
    text-align: right;
    margin-right: 10px;
}

.btns button {
    padding: 2px 10px;
}